
	  <div id="login-page" ng-controller="LoginController">
	  	<div class="container" >
	  	 <div loading style="text-align: center;">Loading..</div>
		      <form class="form-login" ng-submit="submitForm()">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div id="message" class="alert alert-faliure" data-ng-show="message" data-ng-bind="message"></div>
		        <div class="login-wrap">
		        <div id="email" class="alert alert-faliure" data-ng-show="errorEmail" data-ng-bind="errorEmail"></div>

		            <input type="text" class="form-control" ng-model="user.email" placeholder="Email Address" autofocus>
		            <br>
		            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
		
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" ng-click="submit()" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
		            <hr>
		    
		
		        </div>
		
		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Forgot Password ?</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Enter your e-mail address below to reset your password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		
		      </form>	  	
	  	
	  	</div>
	  </div>

 <style>
	 #login-page{
       background-image: url(../../assets/img/login-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
		 
	 }
	 </style>